<% include ./partials/header %>

<!-- MAP NAVBAR -->
<div class="map-header">
  <nav id="subnav" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><h1><%= map.name %> Map</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button class="btn" id="edit-map">Edit</button>
        </li>
        <li class="nav-item">
          <form class="mx-2" action="/maps/<%= map.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn">Delete</button>
          </form>
        </li>
        <li class="nav-item">
          <button class="btn fav-button not-fav" data-id="<%= map.id %>">Favourite</button>
        </li>
      </ul>
    </div>
  </nav>
  </div>

<!-- UPDATE MAP DETAILS DROP DOWN -->
<div class="update-map-container">
  <div class="form-group mb-2" id="map-edit-form">
    <form class="form-inline" action="/maps/<%= map.id %>?_method=PUT" method="POST">
        <label for="email">Name:</label>
        <input class="form-control ml-0" id="update-name" type="text" name="name" placeholder="<%= map.name %>" required>
        <label for="email">Location:</label>
        <input class="form-control ml-0" type="text" name="location" placeholder="<%= map.location %>" required>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</div>

<!-- MAP DISPLAY -->
  <div class="map-container">
    <div class="map-location-container">
      <div class="map-locations">
        <div class="locations-header">
          <div class="location-list">List</div>
          <div class="new-location">New</div>
        </div>
        <div class="location-list-container">
          <div class="location">
            <div class="location-picture">
              <img src="/img/cn-tower.png">
            </div>
            <div class="location-info">
              <div class="location-name">Point Name</div>
              <div class="location-address">Pin Address</div>
              <div class="location-details">Details about this Location...</div>
              <div class="location-buttons">
                <button class="btn edit-button btn-sm" data-id="#">Edit</button>
                <button class="btn delete-button btn-sm" data-id="#">Delete</button>
              </div>
            </div>
          </div>
          <div class="location">
            <div class="location-picture">
              <img src="/img/cn-tower.png">
            </div>
            <div class="location-info">
              <div class="location-name">Point Name</div>
              <div class="location-address">Pin Address</div>
              <div class="location-details">Details about this Location...</div>
              <div class="location-buttons">
                <button class="btn edit-button btn-sm" data-id="#">Edit</button>
                <button class="btn delete-button btn-sm" data-id="#">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   <!-- MARKER MAKER -->
    <div class="marker-maker">
      <form class="form-inline" action="/maps/<%= map.id%>/points" method="POST" id="markerMaker">
        <div class="form-group mb-2">
          <div class="my-2">
            <label for="name">Name:</label>
            <input id="markerName" class="form-control mt-0" type="text" name="name" required>
          </div>
          <div class="my-2">
            <label for="location">Location:</label>
            <input id="markerLocation" class="form-control mt-0" type="text" name="location" required>
          </div>
          <div class="my-2">
            <label for="location">Image:</label>
            <input id="markerImage" class="form-control mt-0" type="text" name="image" required>
          </div>
          <div class="my-2">
            <label for="location">Details:</label>
            <input id="markerDetails" class="form-control mt-0" type="text" name="details" required>
          </div>
          <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        </div>
      </form>
    </div>

    <div class="google-map-container">
      <div id="map"></div>
    </div>
  </div>





<script>
  $.ajax({
    method: "GET",
    url: `${$(location).attr("href")}/favourite`
  })
  .then(function (data) {
    if (data === "true") {
      $(".fav-button").removeClass("not-fav");
      $(".fav-button").text("Unfavourite");
    }
  });
</script>

 <script>
  $( "#markerMaker" ).submit(function( event ) {

    event.preventDefault();
    var $form = $('#markerMaker');
    var formData = $($form).serialize();

    console.log("this is form: ", formData)

    $.ajax({
      type: "POST",
      url: $(location).attr("href")+'/points',
      data: formData,
    })
    .done(function(response) {
      $('#markerName').val('');
      $('#markerLocation').val('');
      $('#markerImage').val('');
      $('#markerDetails').val('');
    })
    .fail(function(data){
      console.log("failure in ajax")
    })


  });
 </script>

 <script>

  function initMap(){
    var options = {
    zoom: 14,
    center: {lat:<%= map.latitude %>, lng: <%= map.longitude %>}
    }

    //new map
    var map = new google.maps.Map(document.getElementById('map'), options);

    //listen for click on map
    google.maps.event.addListener(map,'click',
    function(event){
      addMarker({coords:event.latLng});
    })


    var markers = [
      {
        coords:{lat: 43.6532, lng: -79.3832},
        iconImage: '/img/clapper-map-icon.png',
        content:`<h1> Toronto info </h1>`
      },
      {
      coords:{lat: 43.6452, lng: -79.3806}
      }
    ]

    markers.forEach(function(marker){
      addMarker(marker);
    })


    //Add Marker Function
    function addMarker(properties){
      var marker = new google.maps.Marker({
        position: properties.coords,
        map: map,
      });

      if(properties.iconImage){
        marker.setIcon(properties.iconImage)
      }

      if(properties.content){
        var infoWindow = new google.maps.InfoWindow({
          content: properties.content
        });

        marker.addListener('click', function(){
          infoWindow.open(map,marker);
        })
      }
    }


  }


 </script>


  <script async defer src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCE_jyzV5blwMAIm0FZLZoW1_b8bbLSEWU&callback=initMap"
  type="text/javascript"></script>



<% include ./partials/footer %>
