<% include ./partials/header %>

<!-- MAP NAVBAR -->
<div class="map-header">
  <nav id="subnav" class="navbar navbar-expand-lg navbar-dark fixed-top-2">
    <a class="navbar-brand" href="/"><h1><%= map.name %> Map</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#subnavbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="subnavbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button class="btn" id="edit-map">Edit</button>
        </li>
        <li class="nav-item">
          <form class="button" action="/maps/<%= map.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn">Delete</button>
          </form>
        </li>
        <li class="nav-item">
          <button class="btn fav-button <%= (fav) ? "" : "not-fav" %>" data-id="<%= map.id %>"><%= (fav) ? "Unfavourite" : "Favourite" %></button>
        </li>
      </ul>
    </div>
  </nav>
  </div>

<!-- UPDATE MAP DETAILS DROP DOWN -->
<div class="update-map-container">
  <div class="form-group mb-2" id="map-edit-form">
    <form class="form-inline" action="/maps/<%= map.id %>?_method=PUT" method="POST">
        <label for="email">Name:</label>
        <input class="form-control ml-0" id="update-name" type="text" name="name" placeholder="<%= map.name %>" required>
        <label for="email">Location:</label>
        <input class="form-control ml-0" type="text" name="location" placeholder="<%= map.location %>" required>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</div>

<!-- MAP DISPLAY -->
  <div class="map-container">
    <div class="map-location-container">
      <div class="map-locations">
        <div class="locations-header">
          <div class="location-list">List</div>
          <div></div>
          <div class="new-location">New</div>
        </div>
        <div class="location-list-container">
        <!-- MAP POINTS RENDERED HERE -->
        </div>
        <!-- MARKER MAKER -->
        <div class="marker-maker">
          <form action="/maps/<%= map.id%>/points" method="POST" id="markerMaker">
            <div class="form-group mb-2 mx-1">
              <div class="my-2">
                <label for="name">Name:</label>
                <input id="markerName" class="form-control mt-0" type="text" name="name" required>
              </div>
              <div class="my-2">
                <label for="location">Location:</label>
                <input id="markerLocation" class="form-control mt-0" type="text" name="location" required>
              </div>
              <div class="my-2">
                <label for="location">Image:</label>
                <input id="markerImage" class="form-control mt-0" type="text" name="image" required>
              </div>
              <div class="my-2">
                <label for="location">Details:</label>
                <input id="markerDetails" class="form-control mt-0" type="text" name="details" required>
              </div>
              <button type="submit" class="btn btn-md btn-primary new-point-submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>



    <div class="google-map-container" id="fullsize">
      <div id="map"></div>
    </div>

  </div>

<script type="text/javascript" src="/scripts/mapApp.js"></script>

 <script>

  function initMap(){
    var options = {
      zoom: 14,
      center: {lat:<%= map.latitude %>, lng: <%= map.longitude %>}
    }

    //new mapp
    var mapp = new google.maps.Map(document.getElementById('map'), options);

    // var marking = new google.maps.Marker({
    //   position: myLatLng,
    //   map: mapp,
    //   title: 'Hello World!'
    // });

    var infowindow = new google.maps.InfoWindow();

    var marker;

    $.ajax(`/maps/${<%=map.id%>}/points`)
    .then(function (points) {
      for (var i = 0; i < points.length; i++) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(points[i].latitude, points[i].longitude),
          map: mapp
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(`
              <img class="point-image" src=${points[i].image} alt="point image">
              <h3>${points[i].name}</h3>
              <p>${points[i].details}</p>
            `);
            infowindow.open(mapp, marker);
          }
        })(marker, i));

        var pointLocation = `
          <div class="location" data-id="${points[i].id}">
            <div class="location-picture">
              <img src="${points[i].image}">
            </div>
            <div class="location-info">
              <div class="location-name">${points[i].name}</div>
              <div class="location-address">${points[i].location}</div>
              <div class="location-details">${points[i].details}</div>
              <div class="location-buttons">
                <button class="btn edit-button-point btn-xs" data-id="${points[i].id}">Edit</button>
                <button class="btn delete-button-point btn-xs" data-id="${points[i].id}">Delete</button>
              </div>
            </div>
          </div>
        `;

        $(".location-list-container").append(pointLocation);

        //THIS IS SUPPOSED TO MAKE THE LOCATIONS CLICK THE MARKERS
        // $('.location').on('click', function() {
        //   var location_id = $(this).data().id;
        //   console.log('click', location_id);
        //   google.maps.event.trigger(marker, 'click');
        // })

      }
    });

    var handleDeletePoint = function (e) {
      e.preventDefault();

      $.ajax(`/maps/${<%=map.id%>}/points/${$(e.target).data().id}`, {method: "DELETE"})
      .then(function (data) {
        location.reload();
      });
    };

    var handleUpdatePoint = function (e) {
      e.preventDefault();

      var query = $(e.target).serialize();

      $.ajax(`/maps/${<%=map.id%>}/points/${$(e.target).data().id}`, {method: "PUT", data: query})
      .then(function (data) {
        location.reload();
      });
    };

    var handleEditPoint = function (e) {
      e.preventDefault();

      if ($(e.target).hasClass("updating")) {
        $(e.target).removeClass("updating");

        $(".update-points-form").remove();
      } else {
        $(e.target).addClass("updating");

        $(e.target).parent().append(`
          <form class="update-points-form" data-id="${$(e.target).data().id}">
            <label for="update-point-name">Name: </label>
            <input class="update-point-name" type="text" name="name">

            <label for="update-point-image">Image: </label>
            <input class="update-point-image" type="text" name="image">

            <label for="update-point-details">Details: </label>
            <input class="update-point-details" type="text" name="details">

            <label for="update-point-location">Location: </label>
            <input class="update-point-location" type="text" name="location">

            <input type="submit" class="btn btn-sm update-point-button" value="Update">
          </form>
        `);
      };

      // $.ajax(`/maps/${<%=map.id%>}/points/${$(e.target).data().id}`, {method: "DELETE"})
      // .then(function (data) {
      //   location.reload();
      // });
    }

    var handleInmapPoint = function (e) {
      event.preventDefault();

      var query = $(e.target).serialize();

      $.ajax({
        type: "POST",
        url: $(location).attr("href")+'/points',
        data: query,
      })
      .then(function (data) {
        location.reload();
      });
    };

    $(".location-list-container").on("click", ".delete-button-point", handleDeletePoint);
    $(".location-list-container").on("click", ".edit-button-point", handleEditPoint);
    $(".location-list-container").on("submit", ".update-points-form", handleUpdatePoint);
    $("#map").on("submit", ".inmap-points-form", handleInmapPoint);

    //listen for click on map
    google.maps.event.addListener(mapp,'click', function(event){
      addMarker(event.latLng, mapp);
    });


    function addMarker(location, map) {
      // Add the marker at the clicked location, and add the next-available label
      // from the array of alphabetical characters.
      var newMarker = new google.maps.Marker({
        position: location,
        map: mapp
      });

      google.maps.event.addListener(newMarker, 'click', (function(nmarker) {
        return function() {
          infowindow.setContent(`
            <div>
              <form class="inmap-points-form">
                <label for="inmap-point-name">Name: </label>
                <input class="inmap-point-name" type="text" name="name" maxlength="40" required>

                <label for="inmap-point-image">Image: </label>
                <input class="inmap-point-image" type="text" maxlength="250" name="image">

                <label for="inmap-point-details">Details: </label>
                <input class="inmap-point-details" type="text" maxlength="250" name="details">

                <input type="hidden" value="${nmarker.position}" name="latlng" />

                <input type="submit" class="btn btn-sm inmap-point-button" value="Post">
              </form>
            </div>
          `);
          infowindow.open(mapp, nmarker);
        }
      })(newMarker));
    }


  }


</script>


  <script async defer src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCE_jyzV5blwMAIm0FZLZoW1_b8bbLSEWU&callback=initMap"
  type="text/javascript"></script>



<% include ./partials/footer %>
