<% include ./partials/header %>

<div class="container">
  <p>Where each map appears</p>

  <form class="form-inline" action="/maps/<%= map.id %>?_method=PUT" method="POST">
    <div class="form-group mb-2">
      <label for="email">Name:</label>
      <input class="form-control ml-0" type="text" name="name" placeholder="<%= map.name %>" required>
      <label for="email">Location:</label>
      <input class="form-control ml-0" type="text" name="location" placeholder="<%= map.location %>" required>
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>

  <form class="mx-2" action="/maps/<%= map.id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</div>

<!-- MARKER MAKER -->

  <form class="form-inline" action="/maps/<%= map.id%>/points" method="POST" id="markerMaker">
    <div class="form-group mb-2">
      <div class="my-2">
        <label for="name">Name:</label>
        <input id="markerName" class="form-control mt-0" type="text" name="name" required>
      </div>
      <div class="my-2">
        <label for="location">Location:</label>
        <input id="markerLocation" class="form-control mt-0" type="text" name="location" required>
      </div>
       <div class="my-2">
        <label for="location">Image:</label>
        <input id="markerImage" class="form-control mt-0" type="text" name="image" required>
      </div>
      <div class="my-2">
        <label for="location">Details:</label>
        <input id="markerDetails" class="form-control mt-0" type="text" name="details" required>
      </div>
      <button type="submit" class="btn btn-lg btn-primary">Submit</button>
    </div>
  </form>


<h3 class="map-title"> Google Map Example </h3>

 <div id="map"></div>
 <script>
  $( "#markerMaker" ).submit(function( event ) {

    event.preventDefault();
    var $form = $('#markerMaker');
    var formData = $($form).serialize();

    console.log("this is form: ", formData)

    $.ajax({
      type: "POST",
      url: $(location).attr("href")+'/points',
      data: formData,
    })
    .done(function(response) {
      $('#markerName').val('');
      $('#markerLocation').val('');
      $('#markerImage').val('');
      $('#markerDetails').val('');
    })
    .fail(function(data){
      console.log("failure in ajax")
    })


  });
 </script>

 <script>

  function initMap(){
    var options = {
    zoom: 14,
    center: {lat:<%= map.latitude %>, lng: <%= map.longitude %>}
    }

    //new map
    var map = new google.maps.Map(document.getElementById('map'), options);

    //listen for click on map
    google.maps.event.addListener(map,'click',
    function(event){
      addMarker({coords:event.latLng});
    })


    var markers = [
      {
        coords:{lat: 43.6532, lng: -79.3832},
        iconImage: '/img/clapper-map-icon.png',
        content:`<h1> Toronto info </h1>`
      },
      {
      coords:{lat: 43.6452, lng: -79.3806}
      }
    ]

    markers.forEach(function(marker){
      addMarker(marker);
    })


    //Add Marker Function
    function addMarker(properties){
      var marker = new google.maps.Marker({
        position: properties.coords,
        map: map,
      });

      if(properties.iconImage){
        marker.setIcon(properties.iconImage)
      }

      if(properties.content){
        var infoWindow = new google.maps.InfoWindow({
          content: properties.content
        });

        marker.addListener('click', function(){
          infoWindow.open(map,marker);
        })
      }
    }


  }


 </script>


  <script async defer src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCE_jyzV5blwMAIm0FZLZoW1_b8bbLSEWU&callback=initMap"
  type="text/javascript"></script>



<% include ./partials/footer %>
