<% include ./partials/header %>

<div class="profile-container">
  <h2 class ="user-feature-map-title"><%= person %>'s Featured Map </h2>
  <div class = "feature-title">
    <h3><%= (featured) ? featured.name : "No featured map currently"%></h3>
  </div>
  <div class="featured">
    <a href="/maps/<%= (featured) ? featured.id : "" %>">
      <picture>
        <img class="screenshot" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= (featured) ? featured.latitude : "0" %>,<%= (featured) ? featured.longitude : "0" %>&zoom=14&size=1000x1000&scale=1&key=AIzaSyCri7Bud131ZI5QakCVxsPsV2cDZTQkU2g">
      </picture>
    </a>
  </div>

  <div class="list-of-user-maps">
    <div class="created-maps">
      <h3>Created maps</h3>
            <img class="list-icon" src="/img/explorer-icon.png">

      <ul>
        <% for (var cmap of created) { %>
        <li> <a class= "profile-map-link" href="/maps/<%= cmap.mapid %>"><%= cmap.name %>, <%= cmap.location%> </a></li>
        <% } %>
      </ul>
    </div>

    <div class="favourite-maps">
      <h3>Favourite maps</h3>
            <img class="list-icon" src="/img/fan-icon.png">

      <ul>
        <% for (var fmap of favourite) { %>
        <li> <a class = "profile-map-link" href="/maps/<%= fmap.mapid %>"><%= fmap.name %>, <%= fmap.location%></a></li>
        <% } %>
      </ul>
    </div>

    <div class="contributed-maps">
      <h3>Contributed maps</h3>
      <img class="list-icon" src="/img/contributor-icon.png">
      <ul>
        <% for (var cnmap of contributed) { %>
        <li> <a class = "profile-map-link" href="/maps/<%= cnmap.mapid %>"><%= cnmap.name %>, <%= cnmap.location%></a></li>
        <% } %>
      </ul>
    </div>
  </div>

</div>


<% include ./partials/footer %>
