<% include ./partials/header %>

<div class="container">
  <p>Where each user appears</p>

  <h3>Created maps</h3>
  <ul>
    <% for (var cmap of created) { %>
    <li><%= cmap.name %>, <%= cmap.location%> - <a href="/maps/<%= cmap.mapid %>">link</a></li>
    <% } %>
  </ul>

  <h3>Favourite maps</h3>
  <ul>
    <% for (var fmap of favourite) { %>
    <li><%= fmap.name %>, <%= fmap.location%> - <a href="/maps/<%= fmap.mapid %>">link</a></li>
    <% } %>
  </ul>

  <h3>Contributed maps</h3>
  <ul>
    <% for (var cnmap of contributed) { %>
    <li><%= cnmap.name %>, <%= cnmap.location%> - <a href="/maps/<%= cnmap.mapid %>">link</a></li>
    <% } %>
  </ul>

</div>


<% include ./partials/footer %>
